@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-['Roboto_Slab'];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-red-400 via-teal-500 to-sky-600 rounded-lg;
  }
  /* fin scrollbar */

  .layout {
    @apply h-screen w-full bg-slate-300 dark:bg-slate-700 overflow-x-hidden;
  }

  .layout::-webkit-scrollbar {
    @apply w-0 h-0;
  }

  .layout:hover::-webkit-scrollbar {
    @apply lg:h-2 lg:w-2;
  }

  /* header */
  .header {
    @apply shadow-md sticky backdrop-blur-lg top-0 z-50 py-3 w-full;
  }
  .header_content {
    @apply flex items-center justify-around lg:justify-between max-w-5xl mx-auto;
  }
  .header_content > h1 {
    @apply hidden sm:block font-light text-3xl;
  }
  .navegacion {
    @apply flex items-center gap-5;
  }
  .navegacion a {
    @apply shadow-md shadow-slate-400 dark:shadow-none rounded-full transition-all ease-in-out duration-300;
  }
  /* fin header */

  /* contenido */
  .principal {
    @apply grid grid-cols-1 md:grid-cols-2 md:max-w-3xl xl:grid-cols-3 xl:max-w-5xl mx-auto lg:mt-5 z-40 relative;
  }
  .principal_sec1 {
    @apply col-span-2 xl:max-w-2xl xl:relative h-screen;
  }
  .princial_sec2 {
    @apply hidden xl:inline-grid md:col-span-1;
  }
  .historias {
    @apply flex gap-3 md:mx-3 lg:mx-0 p-3 md:bg-gradient-to-r from-slate-200 dark:from-slate-600  md:rounded-md overflow-x-scroll rounded-none dark:backdrop-blur-lg;
  }
  .historias::-webkit-scrollbar {
    @apply sm:h-0;
  }
  .historias:hover::-webkit-scrollbar {
    @apply md:h-2;
  }
  .historias:hover::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-r from-red-400 via-teal-500 to-sky-600 rounded-lg;
  }
  .btnPost {
    @apply p-1.5 rounded-full bg-slate-200 dark:bg-slate-700 transition-all ease-in-out duration-300;
  }
  .btnPost:hover {
    @apply bg-slate-800 text-slate-100 dark:bg-slate-200 dark:text-slate-700;
  }
  .proyecto {
    @apply backdrop-blur-lg bg-opacity-80 dark:bg-slate-600 dark:bg-opacity-80 bg-slate-100 md:mx-3 lg:mx-0 my-3 md:my-5 md:rounded-md dark:shadow-lg;
  }
  .proyecto p {
    @apply text-sm;
  }
  .escribiendo {
    @apply h-8 overflow-hidden leading-5;
  }
}

.escribiendo li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0;
  animation: slide 20s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -120px;
  }
}

.escribiendo li span::after {
  position: absolute;
  background-color: #cbd5e1;
  content: "";
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #38bdf8;
  animation: escritura 5s steps(30) infinite;
}

@keyframes escritura {
  100% {
    left: 100%;
  }
}

.bubbles {
  display: flex;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  max-width: 768px;
}

.bubbles > span {
  animation: movimiento 5s linear infinite;
  border-radius: 50%;
  background: #4fc3dc;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 20;
}
@media screen and (min-width: 1024px) {
  .bubbles {
    left: 20%;
  }
}
.bubbles > span:nth-child(even) {
  animation: movimiento 5s reverse infinite;
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes movimiento {
  0% {
    transform: translateY(87vh);
  }
  100% {
    transform: translateY(-90vh);
  }
}
